.card-style {
  border: none;
}
.card {
  cursor: pointer;
}
.img-box {
  height: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}
.card-img-top {
  width: 100px !important;
  transition: all 0.3s ease-in-out !important;
}
.img-box:hover {
  .card-img-top {
    transform: scale(1.05) !important;
  }
}
.card-title {
  font-size: 15px;
  font-family: Inter;
  height: 50px;
  overflow: hidden;
}
.dont {
  background: #ffff00;
  border-radius: 10px;
  display: inline;
  padding: 0 5px;
}
.card-body-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-rate {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ui-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.ui-icon-hover {
  transition: all 0.3s ease-in;
}
.ui-icon:hover {
  .ui-icon-hover {
    fill: rgb(21, 21, 26);
  }
}
